{% extends "GfiBundle:Gfi:layout.html.twig" %}

{% block content %}

    <a href="{{ path('gfi_customer_contact_create', {'id': customer.id })}}" class="btn btn-primary pull-right">Add contact</a>

    <h1>{{ customer.name }} - Contacts list</h1>
    <hr>

    <table class="table table-responsive table-dashed">
        <thead>
        <th></th>
        <th>Name</th>
        <th>First Name</th>
        <th>Date de creation</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>

        {% for contact in customer.contactCustomer %}
            <tbody ng-repeat="client in listeClients track by $index" class="item-{{ contact.id }}">
            <tr ng-class="{'peer': $index %2 == 0}">
                <td style="text-align:center" align="center" class="col-sm-1">
                    <a data-target="#_detailClient-{[{$index}]}" role="button" data-toggle="collapse"
                       class="table-link accordian-toggle collapsed" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list" style="color:black"></span>
                    </a>
                </td>
                <td>
                    {{ contact.name }}
                </td>
                <td>
                    {{ contact.firstName }}
                </td>
                <td>
                    {{ contact.dateCreation|date('d M Y') }}
                </td>
                <td>
                    <a data-url="{{ path('gfi_api_customer_contact_remove', {'id1': customer.id, 'id2': contact.id }) }}" data-id="{{ contact.id }}" class="btn btn-danger deleteItem">Delete</a>
                </td>
                <td>
                    <a href="{{ path('gfi_customer_contact_edit', {'id1': customer.id, 'id2': contact.id }) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}