<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GFI Companion</title>
</head>

<body ng-app="gfiApp">
<style>
    html, body {height:fit-content; width:fit-content;}
</style>
<section ng-controller="accueilCtrl">

    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                            <span class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                  aria-expanded="false" aria-controls="navbar" style="float:left; margin-left: 10px">

                            <i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>
                            </span>

                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <div class="logoLogGfi photo">
                        <img src="{{ asset('bundles/gfi/img/gfiLogoMini.png') }}" class="logoLogGfi">
                    </div>

                    <ul class="nav navbar-nav">
                        <!-- Menu haut -->
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="#about">Modifier ma liste</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0px">
                <div class="container-fluid">
                    <span class="spinner"></span>
                    <div class="message-dynamique alert" style="display: none;"></div>

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div>
            <a href="{{ path('gfi_card_list') }}">Fiches client</a> <br>
            <a href="{{ path('gfi_card_create') }}">Créer une fiche</a> <br>
            <a href="{{ path('gfi_customer_list') }}">Liste des clients</a> <br>
            <a href="{{ path('gfi_customer_create') }}">Créer un client</a> <br>
            <a href="{{ path('gfi_admin_addUser') }}">Admin créer un utilisateur</a> <br>
            <a href="{{ path('gfi_admin_userList') }}">Admun list des utilisateurs</a> <br>
        </div>
    </div>
</section>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('bundles/gfi/css/site.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gfi/awesome/css/font-awesome.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset("bundles/gfi/js/postForm.js") }}"></script>
<script src="{{ asset("bundles/gfi/js/formPostRetour.js") }}"></script>

{#{% verbatim %}#}
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.6/angular-resource.js"></script>#}
{#<script>#}
    {#angular.module('gfiApp', []).config(function ($interpolateProvider) {#}
        {#$interpolateProvider.startSymbol('{[{').endSymbol('}]}');#}
    {#});#}
{#</script>#}
{#{% endverbatim %}#}
<script src="{{ asset("bundles/gfi/js/gfiFactories.js") }}"></script>
<script src="{{ asset("bundles/gfi/js/indexController.js") }}"></script>
<script src="{{ asset("bundles/gfi/js/accueilController.js") }}"></script>
</body>
</html>