{% extends "GfiBundle:Gfi:layout.html.twig" %}

{% block content %}
    <table class="table table-responsive table-dashed">
        <thead>
        <th></th>
        <th>Status</th>
        <th>Title</th>
        <th>Company name</th>
        <th>Contact name</th>
        <th>Date creation</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
        </thead>
        {% for card in list %}
        <tbody>
        <tr>
            <td style="text-align:center" align="center">
                <a data-target="#_detailClient-{{card.card_id}}" role="button" data-toggle="collapse"
                   class="table-link accordian-toggle collapsed" aria-expanded="false">
                    <span class="glyphicon glyphicon-th-list" style="color:black"></span>
                </a>
            </td>
            <td>
                {{ card.last_status.name }}
            </td>
            <td>
                {{ card.title }}
            </td>
            <td>
                {{ card.customer_contact.0.customer.name }}
            </td>
            <td>
                {% for customer_contact in card.customer_contact %}
                    {{ customer_contact.name }} {{ customer_contact.first_name }} <br>
                {% endfor %}
            </td>
            <td>
                {{ card.date_creation }}
            </td>
            <td><a href="{{ path('gfi_card_edit', {'card': card.card_id }) }}" class="btn btn-sm btn-warning">Edit</a>
            </td>
            <td><a href="{{ path('gfi_api_card_remove', { 'id': card.card_id }) }}"
                   class="btn btn-sm btn-danger">Delete</a>
            </td>
            <td>
                <a href="{{ path('gfi_card_view', { 'id': card.card_id }) }}"
                   class="btn btn-sm btn-primary">View</a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr class="no-background no-hover">
            <td></td>
            <td colspan="8">
                <div class="collapse" id="_detailClient-{{card.card_id}}">
                    
                    <div class="form-group">
                    <label class="control-label" for="card.date_creation">Created</label>
                        <input readonly class="form-control" id="card.date_creation" value="{{card.date_creation}}" />
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="date_modification">Updated</label>
                        <input readonly class="form-control" id="date_modification" value="{{card.date_modification}}" />
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="key_success_factor">Key success factor</label>
                        <input readonly class="form-control" id="key_success_factor" value="{{card.key_success_factor}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="duration_month">Duration</label>
                        <input readonly class="form-control" id="duration_month" value="{{card.duration_month}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="nb_day_by_week">Days / Week</label>
                        <input readonly class="form-control" id="nb_day_by_week" value="{{card.nb_day_by_week}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="date_start_at_the_latest">Start at the latest</label>
                        <input readonly class="form-control" id="date_start_at_the_latest" value="{{card.date_start_at_the_latest}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                        <input readonly class="form-control" id="location" value="{{card.location}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="rate">Rate</label>
                        <input readonly class="form-control" id="rate" value="{{card.rate}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                        <input readonly class="form-control" id="title" value="{{card.title}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                        <input readonly class="form-control" id="description" value="{{card.description}}" />
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="customer_contact">Contact</label>
                        <input readonly class="form-control" id="customer_contact" value="{{card.customer_contact.0.name}}" />
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}