{% extends "GfiBundle:Gfi:layout.html.twig" %}

{% block content %}
    <table class="table table-responsive table-dashed">
        <thead>
        <th></th>
        <th>Status</th>
        <th>Title</th>
        <th>Company name</th>
        <th>Contact name</th>
        <th>Date creation</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
        </thead>

        {% for card in list %}
        <tbody ng-repeat="client in listeClients track by $index">
        <tr ng-class="{'peer': $index %2 == 0}">

            <td style="text-align:center" align="center" class="col-sm-1">
                <a data-target="#_detailClient-{[{$index}]}" role="button" data-toggle="collapse"
                   class="table-link accordian-toggle collapsed" aria-expanded="false">
                    <span class="glyphicon glyphicon-th-list" style="color:black"></span>
                </a>
            </td>
            <td>
                {{ card.last_status.name }}
            </td>
            <td>
                {{ card.title }}
            </td>
            <td>
                {{ card.customer_contact.0.customer.name }}
            </td>
            <td>
                {% for customer_contact in card.customer_contact %}
                    {{ customer_contact.name }} {{ customer_contact.first_name }} <br>
                {% endfor %}
            </td>
            <td>
                {{ card.date_creation }}
            </td>
            <td><a href="{{ path('gfi_card_edit', {'card': card.card_id }) }}" class="btn btn-sm btn-warning">Edit</a>
            </td>
            <td><a href="{{ path('gfi_api_card_remove', { 'id': card.card_id }) }}"
                   class="btn btn-sm btn-danger">Delete</a>
            </td>
            <td>
                <a href="{{ path('gfi_card_view', { 'id': card.card_id }) }}"
                   class="btn btn-sm btn-primary">View</a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr ng-repeat-end class="no-background no-hover">
            <td></td>
            <td>
                <div class="collapse" id="_detailClient-{[{$index}]}">
                    <div class="row">
                        <span class="pull-lef">Created: {[{client.dateCreation}]}</span>
                        <span class="pull-righ">Updated: {[{client.dateModification}]}</span>
                    </div>
                    <div class="row">{[{client.name}]}</div>
                    <div class="row">{[{client.contactName}]}</div>
                    <div class="row">{[{client.title}]}</div>
                    <div class="row">{[{client.fullDescription}]}</div>
                    <div class="row">{[{client.mainKeys}]}</div>
                    <div class="row">
                        <span class="pull-lef">Duration: {[{client.duration}]}</span>
                        <span class="pull-righ">({[{client.daysWeek}]})</span>
                    </div>
                    <div class="row">{[{client.startLatest}]}</div>
                    <div class="row">{[{client.location}]}</div>
                    <div class="row">{[{client.Rate}]}</div>
                    <div class="row">{[{client.description}]}</div>
                    <div class="row">{[{client.consultant}]}</div>
                    <div class="row">{[{client.commentaire}]}</div>
                    <div class="row">{[{client.dateCreation}]}</div>
                    <div class="row">{[{client.dateCreation}]}</div>
                    <div class="row">{[{client.dateCreation}]}</div>
                </div>
            </td>
        </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}